div {border: solid red;
     border-radius: 25px;
     padding: 20px;
     margin: 10px;
}
h1, h2 {
    text-align: left;
}

a {background-color:blue;
   color:white;
   border-radius:25px;
   padding:10px;
}

    a:hover {
        background-color: aqua;}

h1 {
    color: blue;
    font-size: 40px;
    font-weight: bold;
    font-style: italic
}

#szoveg {background-color:chocolate;
}

.megisfeher {background-color:white;
}

img {display:block;
     margin: auto;
}