body {
    height: 100%;
    background-color:lightgreen;
}

div {
    margin: 10px;
    border: 1px solid fuchsia
}

#külső {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding:10px;

}

#kérdés_szöveg {
    display:flex;
    flex-direction:row;
}

#középső {
    display: flex;
    flex-direction: row;
    flex-grow: 1
}

#válaszok {
    flex-grow: 1;
    flex-shrink: 1;
}

#vezérlő {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#kép {
    flex-shrink: 0;
    flex-shrink: 0;
}

.gomb {
    padding: 20px;
    width: 80px;
    cursor:pointer;
}
    .gomb:hover {
        background-color:azure;
        color:white;
        cursor:pointer;
    }

.kattinthato:hover {
    background-color:azure;
    color:white;
    cursor:pointer;
}
.kerdes {
    padding:10px;
    border-radius:10px;
}

.jó {
    background-color:forestgreen;
    color:white
}

.rossz {
    background-color:red;
    color:white;
}
